@tailwind base;
@tailwind components;
@tailwind utilities;

h1,
h2,
h3,
h4,.headline {
  font-family: "Inter", serif;
}

.active{
 font-size: 18px;
 position: relative;
 overflow: hidden;
 font-weight: 600;

}


  .navbtn{
    @apply border border-[#2A3663] rounded hover:bg-darkBlue p-2
  }
  .btn{
    @apply border border-[#2A3663] rounded bg-darkBlue text-white hover:bg-transparent hover:text-darkBlue p-2 transition-all duration-[0.2s]
  }

  .darkbluee{
    background-color:#2A3663 !important; 
  }

  .img{
   
  }